body {
  background-color: rgb(90, 90, 90);
}

.row {
  margin-left: 0;
  margin-right: 0;
  display: table;
}

.container {
  padding: 0
}

/*
#summary {
  display: none;
}
*/

.wrapper {
  background-color: white;
  margin-top: 0.2in;
  margin-bottom: 0.2in;
  box-shadow: 0 0 0.2in 0.2in rgb(60, 60, 60);
}

.name {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36pt;
}

.sidebar {
  background-color: rgb(231, 234, 240) !important;
  -webkit-print-color-adjust: exact;
}

.sidebar li {
  margin-left: 0.07in;
  text-indent: -0.07in;
}

#contacts li {
  margin-left: inherit;
  text-indent: inherit;
}

#contacts a {
  color: inherit;
  text-decoration: inherit;
}

#contacts i {
  padding-right: 0.03in;
}

.sidebar h1 {
  margin-top: -0.1in;
}

.body, .sidebar {
  position: relative;
  min-height: 0.01in;
  padding: 0.15in;
  display: table-cell;
  vertical-align: top;
}

.body ul {
  padding-left: 0.2in;
  margin-bottom: 0;
}

.section-header {
  color: rgb(77, 137, 255);
  border-bottom: 0.02in solid rgb(77, 137, 255);
  margin-top: 0.1in;
}

.university h4, .employer h4 {
  font-size: 11pt;
}

.employer .title, .employer .dates {
  font-size: 9pt;
}

.employer .dates {
  float: right;
}

.employer .title, .employer em {
  color: gray;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media print {
  /* Override bootstraps url behaviour */
  a[href]:after {
    content: "";
  }

  body {
    margin: 0;
  }

  .wrapper {
    width: 8.5in;
    font-size: 6pt;
    margin: 0;
  }

  .wrapper, .sidebar, .body {
    height: 11in;
    overflow: hidden;
  }

  .body, .sidebar {
    display: inherit;
  }

  .sidebar, .body {
    float: left;
  }

  .sidebar {
    width: 2in;
  }

  .body {
    width: 6.5in;
  }
}

@page {
  /* size: Letter; */
  size: 8.5in 11in;
  margin: 0;
}

/* Screen */
@media not print {
}

/* Very small devices (xs) */
@media screen and (max-width: 768px) {
  #skills ul.list-unstyled li,
  #education ul.list-unstyled li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #skills ul.list-unstyled li:after,
  #education ul.list-unstyled li:after {
    content: "; ";
  }

  #skills ul.list-unstyled li:last-child:after,
  #education ul.list-unstyled li:last-child:after {
    content: "";
  }

  .university h4, .employer h4 {
    font-size: 13pt;
  }

  .wrapper {
    margin: 0;
  }

  .body, .sidebar {
    display: inherit;
  }
}

/* Small devices (sm) */
@media screen and  (min-width: 769px) {
  .wrapper {
    width: 738px;
    font-size: 8pt;
  }

  .sidebar {
    width: 30%;
  }

  .body {
    width: 70%;
  }

  .sidebar, .body {
    /* float: left; */
  }
}

/* Medium devices (md) */
@media screen and  (min-width: 993px) {
  .wrapper {
    width: 962px;
    font-size: 9pt;
  }

  .wrapper, .sidebar, .body {
    /* height: 1400px; */
  }

  .sidebar {
    width: 25%;
  }

  .body {
    width: 75%;
  }
}

/* Large devices (lg) */
@media screen and (min-width: 1201px) {
}
